<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
  </head>
  <body>
    <form action="/updated" method="post">
      <label for="new_username">Enter new username</label>
      <input type="text" name="new_username" id="new_username" />
      <br /><br />
      <label for="new_password">Enter new password</label>
      <input type="text" name="new_password" id="new_password" />
      <br /><br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
